/*barra de navegacion*/
.nav-bar {
    position: relative;
    display: flex;
    justify-content: space-evenly !important;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    align-items: center;
    margin-bottom: 0;

    li {
        padding: 1rem;
        text-decoration: none;

    }

}

.nav-bar li {
    list-style-type: none;
}

.nav-bar a {
    text-decoration: none;
    color: #FFF;
}

.menu-ppal {
    justify-content: space-evenly !important;
}

/*formulario de contactos*/
.form-1 {
    display: flex;
    justify-content: space-evenly;
    background-image: url(/imagenes/fondo-contacto-2.jpg);
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.formulario {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 2rem;
    background: rgba(255, 255, 255, 0.726);
    width: 30%;

    input {
        padding: 0.5rem;
    }

    .fconsulta {
        padding: 0.5rem;
        min-height: 10rem;
    }
}

.boton-form {
    border: none;
    border-radius: 2rem;
    color: rgb(255, 255, 255);
    background-color: #008CBA;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin-top: 1rem;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;

}

.boton-form:hover {
    background-color: #3f51b5;

}

.datos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.726);
    border-radius: 2rem;
    width: 30%;

    img {
        margin: 1rem;
    }

    li {
        padding: 1rem;
        list-style-type: none;
    }

    p {
        margin: 1rem;
        text-align: center;
    }

    a {
        margin: 1rem;
        text-decoration: none;
    }

    .redes {
        display: flex;
        justify-content: center;
    }
}

/*fuentes y tipografia*/
h2 {
    font-family: 'Nunito Sans', sans-serif;
}

p {
    font-family: 'Lora', serif;
}


/*index*/
.carousel-caption.d-none.d-md-block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;

    h5 {
        font-size: 48px;
    }

    p {
        font-size: 25px;
    }
}


.section-index-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;

    h2 {
        display: flex;
        justify-content: start;
    }

    p {
        margin-top: 0;
        margin-bottom: 1rem;
        text-align: start;
    }

    div {
        width: 30%;
        margin-top: 0rem;
    }
}

.img-sec {
    padding: 2rem;
}

.section-index-2 {
    background: rgb(193, 247, 253);
    background: linear-gradient(180deg, rgba(193, 247, 253, 1) 0%, rgba(255, 255, 255, 1) 100%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;

    h2 {
        display: flex;
        justify-content: start;
    }

    p {
        margin-top: 0;
        margin-bottom: 1rem;
        text-align: start;
    }

    div {
        width: 30%;
        margin-top: 0rem;
    }
}


.section-index-3 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    h2 {
        display: flex;
        justify-content: start;
    }

    p {
        margin-top: 0;
        margin-bottom: 1rem;
        text-align: start;
    }

    div {
        width: 30%;
        margin-top: 2rem;
    }
}

.section-index-4 {
    background: rgb(193, 247, 253);
    background: linear-gradient(180deg, rgba(193, 247, 253, 1) 0%, rgba(255, 255, 255, 1) 100%);
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    align-items: center;

    h2 {
        display: flex;
        justify-content: start;
    }

    p {
        margin-top: 0;
        margin-bottom: 1rem;
        text-align: start;
    }

    div {
        width: 30%;
        margin-top: 2rem;
    }
}

.banner-clases {
    padding: 5rem 0;
    background-image: url(../imagenes/clases-yoga-banner.jpg);
    background-position: 50% 100%;
}

.p-banner {
    color: #FFF;
    text-align: center;
    font-size: 25px;
}

.boton-transparente {
    display: inline-block;
    width: 200px;
    padding: 8px;
    color: #fff;
    border: 2px solid #fff;
    text-align: center;
    outline: none;
    text-decoration: none;
    transition: background-color 0.2s ease-out,
        color 0.2s ease-out;
}

.boton-transparente:hover,
.boton-transparente:active {
    background-color: #fff;
    color: #000;
    transition: background-color 0.3s ease-in,
        color 0.3s ease-in;
}

.boton-banner-clases {
    display: flex;
    align-items: center;
    justify-content: center;
}


/*alimentacion*/

.section-alim p {
    font-family: 'Nunito', sans-serif;
}

.section-alim h2 {
    font-weight: 600;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}


.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}


.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}


.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.receta1,
.receta2,
.receta3,
.receta4,
.receta5 {
    padding: 3rem;

}

.receta2,
.receta4 {
    background-color: #ebe8e8 !important;
}


#receta1,
#receta2,
#receta3,
#receta4,
#receta5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1rem;
}

#receta1 .nav-link.active,
#receta2 .nav-link.active,
#receta3 .nav-link.active,
#receta4 .nav-link.active,
#receta5 .nav-link.active,
#receta1 .nav-link:hover,
#receta2 .nav-link:hover,
#receta3 .nav-link:hover,
#receta4 .nav-link:hover,
#receta5 .nav-link:hover {
    color: #ffffff;
    background-color: #3f51b5;
}

.flex-imagen {
    display: flex;
}

div#ingredientes,
div#preparacion,
div#comensales,
div#ingredientes2,
div#comensales2,
div#preparacion2,
div#ingredientes3,
div#comensales3,
div#preparacion3,
div#ingredientes4,
div#preparacion4,
div#comensales4,
div#ingredientes5,
div#comensales5,
div#preparacion5 {
    margin-left: 2rem;
}

.flex-imagen img {
    width: 600px !important;
    height: 305px !important;
}

/************ Posturas ****************/

.banner-titulos {
    padding: 3rem 0;
    background-image: url(../imagenes/banner-posturas.jpg);
    background-position: 50% 68%;
}

.banner-titulos1 {
    padding: 3rem 0;
    background-image: url(../imagenes/banner-alimentacion.jpg);
    background-position: 50% 68%;
}

.banner-titulos2 {
    padding: 3rem 0;
    background-image: url(../imagenes/banner-rutina.jpg);
    background-position: 50% 68%;
}


.titulo2 {
    color: #FFF;
    text-align: center;
    font-size: 48px;
}

.flex__imagen1 {
    text-align: center;
    align-items: center;
    display: flex;
    padding: 3rem 5rem;
    background: #dfdfdf;
}

.flex__imagen2 {
    align-items: center;
    display: flex;
    padding: 3rem 5rem;
    flex-direction: row-reverse;
}

.tarjeta {
    width: 50%;
}

.contenido-posturas {
    background: #3f51b5;
    padding: 3rem;
    text-align: start !important;

}

.contenido-posturas h3,
.contenido-posturas p,
.contenido-posturas h4,
.contenido-posturas li,
.contenido-posturas ol,
.contenido-posturas ul {
    color: #FFF !important;
    text-align: start !important;
}

footer {
    margin: 0 !important;
    background-color: #3f51b5;
}

/*****responsive*****/
/*nav bar mobile*/
@media screen and (min-width: 600px) {
    .mobile {
        display: none !important;
    }

    .bg-dark.p-4.mobile {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {
    .menu-ppal {
        display: none !important;
    }

    .bg-dark.p-4.mobile {
        display: flex;
        flex-direction: column;
    }

    div#navbarToggleExternalContent ul {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding-left: 0;
    }
}


/*contacto*/
@media screen and (max-width: 400px) {
    .cont-contacto {
        display: flex;
        flex-direction: column;
    }

    .form-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-position: 35% 42%;
    }

    .formulario {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        border-radius: 1rem;
        background: rgba(255, 255, 255, 0.726);
        width: 81%;
        padding-bottom: 2rem;
        margin-bottom: 2rem;
    }

    .datos {
        width: 81%;
    }

    .datos li {
        padding: 0rem;
        list-style-type: none;
        margin-left: -1rem;
    }
}